.hero_container{
    width: 100%;
    height: 90vh;
    /* height: 90vh; remove 100vh when working with this section */
    background: var(--bg-color1);
    
}


.section1{
    width: 100%;
    height: 45vh;
    background: var(--bg-color2);
    /* flex class used */
    flex-direction: column;
    justify-content: center;
}
.section1 .header{
    font-size:2.5rem;
    font-weight:600;
    font-style: italic;
    margin:5px 0 ;

}
.section1 .subtxt{
    font-size:1.2rem;
    width: 70%;
    text-align:center;
    font-weight:300;
    margin:15px 0 ;

}
