.footer{
  display:flex;
  flex-direction: column;
  align-items:center;
  justify-content: center;
  position: relative;
  
  background:#111;
  color:#fff;
}
p{
  color: #fff;
}
.footer-content{
  margin:0;
  display:flex;
  align-items:center;
  width:100%;
  padding: 20px 0;
  justify-content: center;
  color:#fff;
  flex-direction: column;
  text-align: center;
  background-color: var(--bg-color3);
}

.footer-bottom{
  background: #000;
  width: 100vw;
  text-align: center;
}



.footer-content h3{
  font-size: 22px;
  font-weight:400;
  color:  #fff
  
}

.footer-content p{
  max-width: 500px;
  line-height: 28px;
  font-size:14px;

}
.github{ 
  width:20px;
  height: 20px;
}
.socials{
  list-style: none;
  display: flex;
  align-items:center;
  justify-content: center;
  margin:1rem 0 3rem 0;

}
.socials li{
  margin: 0 10px;
}
.socials a{
  text-decoration: none;
  color: #fff;

}
.socials a i{
  font-size:1.1rem;
}
.socials a:hover i{
  color:aqua;
}


.footer-bottom p{
  font-size:14px;
  word-spacing:2px;
  text-transform:capitalize;

}
.footer-bottom span{
  
  text-transform: uppercase;
  opacity: 1;
  font-weight: 200;
}
.footer-bottom span a{
  text-decoration: none;
  color: #fff;
  opacity: 1;
}
.footer-bottom span a:hover{
  color: #fff;
  opacity: .7;
}

a:visited{
  color: #fff;
}