
:root {
    --bg-color1: #5E503F;
    --bg-color2: #A9927D;
    --highl-color1: #22333B;
    --txt-color1:#0A0908;
    --txt-color2:#F2F4F3;
    
}
.flex{
   display: flex;
   align-items:center;
}

.wraper {
    background-color: var(--bg-color2);
    width: 100%;
    height:90vh;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.sectionL{
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content:center;
    flex-direction: column;
}
.sectionR{
    width: 50%;
    height: 100%;
    
    background-image: 
    linear-gradient(
      rgba(0, 0, 0, 0.03),
      rgba(0, 0, 0, 0.507)
    ),
    url(../../assets/signinbanner.jpg);  
    background-size: cover;
    
    
}