/* @tailwind base;
@tailwind components;
@tailwind utilities; */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Fira Sans', sans-serif;
}
:root {
    --bg-color1: #5E503F;
    --bg-color2: #A9927D;
    --bg-color3: #411900;

    --highl-color1: #92374D; 
     --highl-color2: #0E7C7B; /* #0B6765 */

    --txt-color1:#0A0908;
    --txt-color2:#F2F4F3;
    
}
.flex{
   display: flex;
   align-items:center;
}
.flexC{
    display: flex;
    align-items:center;
    flex-direction:column;
}
.z_20{
    z-index: 20;
}

.dividerthin{
    height: 10px;
    width: 100%;
    background-color: var(--bg-color2);
}
 