



.section {
    position: relative;

    min-height: 90vh;

    background: #b4a288;

    display: flex;

    justify-content: center;

    align-items: center;

    padding: 20px;

    transition: 0.5s;
    
}

.section.active {
    background: #c3956f;
}

.section .container {

    position: relative;

    width: 800px;

    height: 500px;

    background: #fff;

    box-shadow: rgba(40, 30, 24, 0.83) 0px 30px 80px -20px;
    overflow: hidden;

}

.section .container .user {

    position: absolute;

    top: 0;

    Left: 0;

    width: 100%;

    height: 100%;

    display: flex;
    align-items: center;

}

.section .container .user .imgBx {
    position: relative;

    width: 50%;

    height: 100%;

    transition: 0.5;
}

.section .container .user .imgBx img {
    Position: absolute;

    top: 0;

    Left: 0;

    width: 100%;

    height: 100%;

    object-fit: cover;
}

.section .container .user .formBx {
    position: relative;

    width: 50%;

    height: 100%;

    background: rgb(219, 224, 224);

    display: flex;

    justify-content: center;

    align-items: center;

    padding: 40px;

    transition: 0.5s;
}

.section .container .user .formBx h2 {
    font-size: 18px;

    font-weight: 600;

    text-transform: uppercase;

    Letter-spacing: 2px;

    text-align: center;

    width: 100%;

    margin-bottom: 10px;

    color: #555;
}

.section .container .user .formBx input {
    width: 100%;

    padding: 10px;

    background: #f5f5f5;

    color: #333;

    border: none;

    outline: none;

    box-shadow: none;

    font-size: 15px;

    margin: 8px 0;

    Letter-spacing: 1px;

    font-weight: 300;
}

.section .container .user .formBx input[type="submit"] {
    max-width: 100px;
    background: var(--bg-color1);
    color: #fff;
    cursor: pointer;
    font-size: 17px;
    font-weight: 500;
    Letter-spacing: 1px;
    transition: 0.5s;
    box-shadow: rgba(40, 30, 24, 0.83) 0px 30px 80px -50px;
    border-radius: 2px;
    
}
.section .container .user .formBx input[type="submit"]:hover {
    
    box-shadow: rgba(40, 30, 24, 0.83) 0px 30px 80px -50px;
    
}


.section .container .user .formBx .signup {
    position: relative;

    margin-top: 20px;

    font-size: 12px;

    Letter-spacing: 1px;

    color: #555;

    text-transform: uppercase;

    font-weight: 300;

}

.section .container .user .formBx .signup span {
    font-weight: 600;

    text-decoration: none;

    color: var(--bg-color1);
    cursor: pointer;
}




.section .container .signupBx {
    pointer-events: none;
}

.section .container.active .signupBx {
    pointer-events: initial;
}

.section .container .signupBx .formBx {
    top: 100%;
}

.section .container.active .signupBx .formBx {
    top: 0;
}

.section .container .signupBx .imgBx {
    top: -100%;
    transition: 0.5s;
}

.section .container.active .signupBx .imgBx {
    top: 0;
}

.section .container .signinBx .formBx {
    top: 0;
}

.section .container.active .signinBx .formBx {
    top: 100%;
}

.section .container .signinBx .imgBx {
    top: 0;
    transition: 0.5s;
}

.section .container.active .signinBx .formBx {
    top: -100%;
}
.radio_container{
    display: flex;
    align-items: flex-start;
}