.catalogue_container{
    width: 100%;
    height: 50vh;
   
    background: var(--bg-color1);

}

.categories{
    
    
    display:flex;


    flex-wrap:wrap
}

.category{
    padding: 20px;
    align-self: center;
    width:25%;
    height:100px
    
} 
 