.catalogue_container{
    width: 100%;
   
   
    background: var(--bg-color1);

}

.categories{
    height: 150vh;
    background: var(--bg-color2);
    display:flex;
    flex-wrap:wrap
}

.category{
    margin-top: 5vh;;
    display: flex;
    align-items: center;
    justify-content: center;
    
    width:25%;
    
    
} 

.carddesign{
    height:200px;
    border: 1px solid black;
    width:90%;
    background: var(--bg-color1);
    border-radius: 2px;
    border: 2px solid rgb(89, 58, 17);
}
 