


.flex{
   display: flex;
   align-items:center;
}

.dividerthin{
    height: 4px;
    width: 100%;
    opacity: 0.9;
    background-color: var(--bg-color2);
}
.sticky{
    position:sticky;
    top: 0;
}
.fixednav{
    position: fixed;
    top: 0;
    width: 100%;
}



.nav_container{
    z-index: 101;
    height: 10vh;
    width: 100%;
    background-color: var(--bg-color1) ;
    /* sticky class used */
    
    /* class flex used */
    justify-content: space-between;
    padding: 20px 60px;

}

.logo{

    margin: 0 -6px;
    height: 50px;
    width: 50px;
}

.logotxt{
    font-size:4rem;
    font-weight: 900;
    font-style: italic;
    color: var(--bg-color2);
    text-decoration: none;
}
.logo_container{
    
}
.navopt_container{
     /* class flex used */
}
.navopt{
    background-color: var(--bg-color2);
    width: 50px;
    height: 50px;
    padding: 10px 10px;
    margin: 0 10px;
    position: relative;
    border-radius: 50%;
 
    color: var(--txt-color2);
    /* flex applied */
    /* overflow-x: hidden; */
    justify-content: center;
    transition: all 0.6s ease  ;
}
.navopt:hover{
    width: 55px;
    height: 55px;
    border-radius: 25px;
    box-shadow: rgba(0, 0, 0, 0.898) 0px 20px 30px -10px;
    
}
.pretext{
    font-size:1rem;
    font-weight: 300;
    position: absolute;
    top: 109%;
    z-index: -1;
    border-radius:6px;
    background-color: var(--txt-color2);
    padding: 2px 7px;
    color: #5E503F;
    opacity: 0;
    transition: all 0.4s ease;
   

}
.navopt:hover .pretext{
    z-index: 11;
    
    opacity: 0.80;
}
.navopt_img{
    height: 30px;
    width: 30px;
}


